html,
body {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    height: 100%;
    margin: 0;
    text-align: left;
}

figcaption {
font-size:.8em;
color:gray;
font-style: italic;

}

a {
    text-decoration: none;
    color: #ff8acf;
	font-weight:500;
}

a:hover {
    color: #5bdc61;
    transition: all 1s ease;
}

p.media {
text-align: center;
font-size:2.5em;
}

ul.star {
    list-style-image: url('http://jechau.com/images/star.png');
}

::selection {
    background-color: floralwhite;
}

input,
textarea,
button {
    width: 100%;
    height: auto;
    border: 1px solid lightgray;
    font-size: .9em;
    background-color: white;
    margin-bottom: 10px;
	padding:10px;
	border-radius:5px;
}

input::selection,
textarea::selection {
    background-color: black;
    color: white;
}

input:hover,
textarea:hover {
    background-color: white;
}

button {
    border: 0;
    font-weight: 600;
    background-color: #FF7BAC;
    color: white;
    padding: 5px;
}

button:hover {
    background-color: floralwhite;
    color: #FF7BAC;
}

input {
}

textarea {
    height: 130px;
}

.italic {
    font-style: italic;
}

.left {
    float: left;
}

.right {
    float: right;
}

.aboutpic {
width:40%;
margin:0 auto;
display:block;
padding:25px;
}

.port {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.folio {
    vertical-align: top;
    margin: 5px;
    width: 45%;
    height: auto;
    display: inline-block;
}

.folio2 {
    width:100%;
}

.folio-gif {
    width: 95%;
    margin: 5px;
    height: auto;
    vertical-align: top;
    display: inline-block;
}

.hr {
    display: block;
    width: 28%;
    margin: 0 auto;
    padding: 0;
}

.center {
    text-align: center
}

.container {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    margin: 0 auto;
    width: 80%;
    min-height: 90%;
    margin-bottom: 0 auto -50px;
}

.side {
    position: relative;
    width: 15%;
    float: left;
}

.main {
    vertical-align: top;
    padding-top: 40px;
    position: relative;
    width: 80%;
    height: auto;
    float: right;
    margin-bottom: 100px;
    margin-top: -30px;
}

.mainimg {
    width: 100%;
}

.box1 {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box2 {
    font-size: .8em;
    vertical-align: top;
    display: inline-block;
    width: 32%;
}

.box3 {
    display: block;
    margin: 0 auto
}

.logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

.nav {
    font-size: .8em;
    margin-top: 0px;
    padding: 0;
    margin: 0 auto;
    text-transform: lowercase;
}

.nav a:hover {
}

.nav ul {
    padding-left: 0;
}

.nav li {
    color: darkgray;
    text-align: center;
    list-style: none;
    padding: 10px 0 15px 0;
    margin: 0;
	font-weight:400;
}

.nav li:hover {
    color: #5bdc61;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1,
h2 {
    text-align: center;
}

h2 {
    color: #222222;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

h4,
h5,
h6 {}

.footer,
.push {
    color: lightgray;
    text-align: center;
    clear: both;
    height: 50px;
    font-size:.7em;
}

@media (max-width: 500px) {
    html,
    body {
        margin:0;
        padding:0;
        font-size: 1.1em;
    }
    .logo {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        margin-top: -50px;
        margin-bottom: 40px;
    }
    .folio {
        margin:0 auto;
        width:90%;
    }
    
    .gif {
        margin:0 auto;
        position: relative;
        display: block;
    }
    .mainimg {
        width: 100%;
        margin: 0;
    }
    .side {
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .nav {
        margin-bottom:20px;
    }
    .container,
    .main,
    .nav {
        position: relative;
        display: block;
        width: 100%;
    }
    .box3 {
        width: 95%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top:20px;
        text-align: center;
    }
    p {
        padding: 0 20px 0 20px
    }
    .main {}
}
